body {
    font-family: 'stara-medium';
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.resource-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
}


.title{
    margin-top: 50px;
    margin-bottom: 40px;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
}

.title-underline {
    width: 120px;
    height: 2px;
    background-color: var(--primary-color);
}



.resource-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 60px;
    width: 200px;
    text-align: center;
}



.reservation-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.ressource-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    overflow: hidden;
}

.ressource-year {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.4;
}


.ressource-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.ressource-img:hover {
    transition: all 0.3s;
    box-shadow: 0 3px 10px var(--secondary-color);
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ressource-item {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-color);
    text-decoration: none;
    cursor: pointer;
}

.ressource-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 800px;
}

.ressource-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ressource-container::-webkit-scrollbar
{
    height: 4px;
	background-color: #F5F5F5;
}

.ressource-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

.ressource-remaining{
    margin-top: 10px;
    color: var(--primary-color);
}

.ressource-owner{
    display: flex;
    gap:10px;
    font-family: 'stara';
}

.ressource-owner-lastname{
    text-transform: uppercase;
}

.search-bar {
    position: relative;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.clear-icon{
    position: absolute;
    right: 120px;
    top: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.specific-fields{
    display: flex;
    gap: 10px;
}

form input,
form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 16px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.description-input {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
}