@import url('var.css');


/* General Styles */
body {
    font-family: 'stara-medium';
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.search-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 50px;
    position: relative;
}

.page-title {
    font-size: 32px;
    font-weight: bold;
}

.title-underline {
    width: 120px;
    height: 2px;
    background-color: var(--primary-color);
}

.active-filters-container{
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    
}

.active-filter{
    color: var(--primary-color);
    text-transform: capitalize;
}

.active-filters-container .clear-icon{
    position: relative;
    top: auto;
    right: auto;
    width: 15px;
    height: 15px;
}

.ressource-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.ressource-item {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-color);
    text-decoration: none;
    cursor: pointer;
}

.ressource-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
}

.ressource-year {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.8;
}


.ressource-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.ressource-img:hover {
    transition: all 0.3s;
    box-shadow: 0 3px 10px var(--secondary-color);
}

.no-ressources-message{
    font-size: 18px;
    font-family: 'stara-medium';
    text-align: center;
    height: 60vh;
    margin-top: auto;
    margin-bottom: auto;
}


.filter-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.filter-container{
    position: absolute;
    padding: 30px 20px;
    z-index: 100;
    right: 0;
    top: 60px;
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-around;
}

.generic-filters{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.specific-filters{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.book-specific, .movie-specific{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filter-title{
    font-size: 18px;
    font-family: 'stara';
}

.filter-subtitle{
    font-size: 14px;
    font-family: 'stara';
}
.filter-container .close-icon{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-options-specific{
    display: flex;
    gap: 20px;
}

.filter-option{
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    font-size: 14px;
}

.filter-option select{
    cursor: pointer;
}

.filter-option input, .filter-option select{
    font-family: 'stara-medium';
    width: 80px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--black-color);
    border-radius: 5px;
}

.filter-option input:hover, .filter-option select:hover{
    border-color: var(--secondary-color);
}

.filter-option input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filter-option input[type=number] {
    -moz-appearance: textfield;
}

.filter-option select, .filter-option input[type=text]{
    width: 140px;
    color: var(--primary-color);
}


.filter-option input::placeholder{
    color: var(--primary-color);
}

.status-filter{
    display: flex;
    align-items: center;
    color: var(--black-color);
    font-size: 14px;
    width: 200px;
}

.status-filter input[type=checkbox]{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.apply-filters-button{
    font-family: 'stara-medium';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-filters-button:hover{
    background-color: #0aa4b8;
}

.clear-filters{
    font-family: 'stara-medium';
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    right: 150px;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

.delete-filters-button{
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    width: 250px;
    height: 40px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
}

.search-bar .search-button {
    background-color: var(--black-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0% 50% 50% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

.search-bar .input-search-bar{
    position: relative;
}
.clear-icon{
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.search-bar .search-button img {
    width: 20px;
    height: 20px;
}
