@import url('var.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width:1000px) {
    #footer-mobile {
        display: none;
    }

    a{ }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 120px;
        height: 200px;
        background-color: #960f26;
    }

    .rubriques-footer {
        color: #fff;
        text-decoration: none;
        font-family: "stara-bold";
        font-size: 16px;
    }

    .rubriques-footer:hover {
        color: var(--secondary-color);
    }

    li {
        list-style-type: none;
        margin-bottom: 5px;
    }

    .separation-line{
        width: 2px;
        height: 120px;
        background-color: #fff;
    }

    #footer-logo {
        font-family: 'stara';
        font-size: 32px;
        color: #fff;
        text-decoration: none;
        font-family: "stara-bold";
    }

    #footer-contacts {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 130px;
    }


    #footer-mail,
    #footer-telephone, #footer-maps {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    #footer-maps .rubriques-footer{
        text-decoration: underline;
    }

    .footer-icone {
        width: 30px;
    }

    #footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 180px;
        height: 250px;
        background-color: #960f26;
    }

    #iconeLangueFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100px;
    }

    #icone-langue {
        width: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .langue-options {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        background-color: #960f26;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .langue-options.open {
        display: flex;
        flex-direction: row;
    }

    .langue-link {
        padding: 10px;
        color: #fff;
        text-decoration: none;
        font-family: 'stara-bold';
        font-size: 14px;
    }

    .langue-link:hover {
        color: var(--secondary-color);
    }
}

@media screen and (max-width:1000px) {
    #footer-desktop {
        display: none;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 30px 50px;
        height: 250px;
        background-color: #960f26;
    }

    footer a {
        color: #fff;
        text-decoration: none;
        font-family: "stara-bold";
        font-size: 18px;
    }
    

    footer li {
        list-style-type: none;
        margin-bottom: 5px;
    }

    #footer-contacts {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 90px;
    }

    #footer-mail,
    #footer-telephone {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .footer-icone {
        width: 35px;
    }

    #anchorList ul {
        display:flex;
        justify-content:space-between;
        width:280px;
    }

    #footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 180px;
        height: 250px;
        background-color: #960f26;
    }

    #iconeLangueFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 280px;
        gap: 10px;
    }

    #icone-langue {
        width: 25px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .langue-options {
        display: none;
        flex-direction: row;
        align-items: center;
        background-color: #960f26;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .langue-options.open {
        display: flex;
    }
    
    .langue-link {
        margin-right: 15px;
        color: #fff;
        text-decoration: none;
        font-family: 'stara-bold';
        font-size: 14px;
    }
    
    .icon-moved {
        transform: translateX(-30px);
    }
}
