
@import url('var.css');


/* Hero Section */
.hero {
    font-family: 'stara-bold';
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero__content {
    z-index: 1;
}

.hero__title {
    font-size: 36px;
    margin: 0;
}

.hero__description {
    font-size: 24px;
    margin: 10px 0 20px;
}


.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    width: 250px;
    height: 40px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0px 0px 20px;
}

.search-bar .search-button {
    background-color: var(--black-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0% 50% 50% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

.search-bar .input-search-bar{
    position: relative;
}
.clear-icon{
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.search-bar .search-button img {
    width: 20px;
    height: 20px;
}


.favorites, .news, .books, .movies {
    padding: 50px 20px;
    text-align: center;
    font-family: 'stara-medium';
}

.movies {
    margin-bottom: 40px;
}


.ressource-item {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-color);
    text-decoration: none;
    cursor: pointer;
}

.ressource-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
}

.ressource-year {
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.4;
}


.ressource-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.ressource-img:hover {
    transition: all 0.3s;
    box-shadow: 0 3px 10px var(--secondary-color);
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ressource-container {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 800px;
}

.ressource-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ressource-container::-webkit-scrollbar
{
    height: 4px;
	background-color: #F5F5F5;
}

.ressource-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


.previous-arrow{
    transform: rotate(180deg);
}

.carousel__item {
    flex: 0 0 200px;
    text-align: center;
    scroll-snap-align: start;
}

.carousel__item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel__button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.carousel__button--prev {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}

/* Features Section */
.features {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
    color: white;
    font-family: 'stara-medium';
}

.feature {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    gap: 20px;
}

.feature__image {
    width: 100px;
    height: auto;
}

/* FAQ Section */
.faq {
    font-family: 'stara-medium';
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.faq__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'stara-bold';
}

.faq__item {
    margin-bottom: 20px;
}

.faq__question-button {
    color: var(--primary-color);
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family: 'stara-medium';
    box-shadow:  1px 1px 2px rgba(0,0,0,0.4);

}

.faq__question-icon {
    font-size: 24px;
}

.faq__answer {
    display: none;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.faq__item--active .faq__answer {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
