
:root {
    --primary-color: #960F26; 
    --secondary-color: #0DDDF9;
    --black-color: #1C1C1F; 
    --background-color: #010423; 
}

@font-face {
    font-family: 'stara'; /* Replace 'YourFontName' with the actual name of your font */
    src: url('../../resources/fonts/Stara-Black.otf'); /* Fallback font format */
}
